@font-face {
  font-family: 'Poppins-Regular';
  src: url(./fonts/Poppins-Regular.ttf) format('truetype');
}

body {
  font-family: 'Poppins-Regular';
  background-color: #f5f5f5;
  color: #354b45;
  padding: 0;
  margin: 0;
}
/* navbar */
#tinyNav {
  background-color: #f3eada;
}
#small-navbar {
  justify-content: space-evenly;
}

.toggle-icon {
  margin-right: 20px;
}

.scan-selected {
  background-color: #424242;
}

/* using */
.sideNavContainer {
  background: #254d4c;
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: #e1e9e7;
}
.navLink {
  margin-left: 2rem;
  font-size: 2rem;
  height: 80px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.linkNavigation {
  display: flex;
  color: #e1e9fc;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  list-style: none;
  height: 60px;
  text-decoration: none;
  font-size: 18px;
}
.linkNavigation:hover {
  background: #65837b;
  cursor: pointer;
}
.navDropDown {
  background: #254d4c;
  height: 60px;
  padding-left: 3rem;
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #e1e9fc;
  font-size: 18px;
}
.navDropDown:hover {
  background: #65837b;
  cursor: pointer;
}

.navTexts {
  margin-left: 16px;
}

.nav-title {
  flex-grow: 2;
}
.sideNav-title {
  color: #e1e9fc;
}

.sidebarwrap {
  width: 100%;
}

/* using till here */
.productNavBar {
  background: #254d4c;
  height: 80px;
  display: flex;
  justify-content: start;
  align-items: center;
}
#navHeader {
  color: #e7fff8;
  font-family: 'Poppins-Regular';
  display: flex;
  text-align: center;
  margin: 0 auto;
}

.navbar {
  background: #254d4c;
  height: 80px;
  display: flex;
  justify-content: start;
  align-items: center;
}
.menu-bars {
  margin-left: 2rem;
  font-size: 2rem;
  background: none;
}
.nav-menu {
  background: #254d4c;
  width: 250px;
  height: 100vh;
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  left: -100%;
  transition: 850ms;
}
.nav-menu.active {
  left: 0;
  transition: 350ms;
}
.nav-text {
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 8px 0px 8px 16px;
  list-style: none;
  height: 60px;
}
.nav-text a {
  background: #254d4c;
  text-decoration: none;
  height: 100%;
  display: flex;
  color: #e7fff8;
  font-size: 18px;
  width: 95%;
  height: 100%;
  align-items: center;
  padding: 0 16px;
  border-radius: 4px;
  cursor: pointer;
}
span {
  margin-left: 16px;
}

.navLink,
.label {
  margin-left: 0px;
  color: #254d4c;
  font-family: 'Poppins-Medium';
}
.prod-nav-link {
  color: #e1e9fc;
}

.prod-nav-link:hover,
.add-product:hover a,
.novel-logo:hover {
  color: #65837b;
}

.novel-logo {
  color: #e1e9fc;
}

.navbar-collapse {
  justify-content: flex-end;
}

.navbar-signin {
  justify-content: flex-start;
}

.logo {
  width: 100px;
}

.card-horizontal {
  flex: 1 1 auto;
  display: block;
  text-align: center;
}
.form-group {
  align-content: center;
  text-align: center;
  text-align-last: center;
}

.card-img {
  width: 300px;
  height: 430px;
}

#edit-container,
#profile-container,
#fav-container {
  background-color: #65837b;
}

.buttons {
  padding-right: 80px;
  align-items: center;
}

#edit_prof,
#edit_pic {
  color: #e7fff8;
}

.btn-circle.btn-xl:hover,
.btn-primary:hover,
#edit_prof:hover,
#edit_pic:hover {
  background-color: #254d4c;
  color: white;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

#novelgraphic {
  position: relative;
  width: 100%;
  height: 100%;
  display: block;
}

.btn-circle.btn-xl {
  width: 90px;
  height: 90px;
  padding: 10px 16px;
  border-radius: 50px;
  font-size: 12px;
  text-align: center;
  border-color: #e7fff8;
  background-color: #00a988;
  color: #e7fff8;
}

#signup {
  top: 10em;
  left: 4em;
  position: absolute;
  z-index: 1;
}

#login {
  top: 10em;
  right: 4em;
  position: absolute;
  z-index: 1;
}

/* this helps with border-box sizing with google maps */
.selector-for-some-widget {
  box-sizing: content-box;
}

/* footer */
.footer {
  background-color: #354b45;
  color: #71a093;
}
.socialMedia {
  text-align: left;
}
.footerIcon {
  font-size: 2rem;
  height: 30px;
}
.social {
  padding-top: 20px;
}
.createdBy {
  text-align: center;
  justify-content: center;
}

/* all chats  */
.direct-chat-img {
  width: 3rem;
  height: 3rem;
}
strong {
  color: #007bff;
}
.allChat {
  background: #fff;
}

.chatContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* 
singleChat styling */

#messageFeed {
  height: calc(
    100vh - 172px
  ); /* vpace for fixed navbar (48px), "main" (71px), footer (53px) */
  overflow-y: scroll; /* vertical scroll for the message feed */
}

#chat-message {
  border-color: #00a988;
  padding: 6;
  margin: 3;
  width: 350px;
}

.direct-chat-text {
  word-break: break-word;
  overflow-wrap: break-word;
}

.wrapper {
  overflow: auto;
}

.text-small {
  font-size: 0.9rem;
}
.rounded-lg {
  border-radius: 0.5rem;
}
.messages-box,
.chat-box {
  height: 510px;
  overflow-y: scroll;
}
.chatText {
  display: flex;
  align-self: center;
}

/* nav-bar */
.nav-text-colors {
  background-color: #e7fff8;
}
.nav-text {
  color: #e7fff8;
  z-index: 1;
}

.loading-img-fluid {
  display: block;
  max-width: 90%;
  height: auto;
}

.select-availability,
.bi {
  cursor: pointer;
}

.select-dropdown {
  cursor: pointer;
}

.profile-image-edit {
  padding-top: 20px;
  justify-content: center;
  align-items: center;
}

.drawingBuffer {
  position: absolute;
  top: 0;
  left: 0;
}

/* .rec.rec-arrow,
.rec.rec-arrow:enabled
.rec.rec-arrow:hover
.rec.rec-arrow:focus
.rec.rec-arrow:enabled:hover {
  background-color: #82a59d;
  color: #e7fff8;
} */

.arrow {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

.arrow:disabled {
  visibility: hidden;
}

.bi-caret-left,
.bi-caret-right {
  font-size: 50px;
}

.rec.rec-dot_active,
button.rec-dot:hover,
button.rec-dot:active,
button.rec-dot:focus {
  background-color: #82a59d;
  box-shadow: #254d4c 0px 0px 1px 3px;
}

/* mobile styling */
@media only screen and (max-device-width: 480px) {
  #signup {
    top: 6em;
    left: 1em;
    position: absolute;
    z-index: 1;
  }

  #login {
    top: 6em;
    right: 1em;
    position: absolute;
    z-index: 1;
  }

  .footer {
  }
}
