@font-face {
  font-family: 'Poppins-Regular';
  src: url(./fonts/Poppins-Regular.ttf) format('truetype');
}

body {
  /* font-family: sans-serif; */
  font-family: 'Poppins-Regular';
  background-color: #f5f5f5;
  color: #354b45;
  padding: 0;
  margin: 0;
}
/* background-color: #f3eada; */
/* 
#tinyNav{
  background-color: #f3eada; 
} */
.productNavBar {
  background: #254d4c;
  height: 80px;
  display: flex;
  justify-content: start;
  align-items: center;
}
#navHeader {
  color: #e7fff8;
  font-family: 'Poppins-Regular';
  display: flex;
  text-align: center;
  margin: 0 auto;
}

.navbar {
  background: #254d4c;
  height: 80px;
  display: flex;
  justify-content: start;
  align-items: center;
}
.menu-bars {
  margin-left: 2rem;
  font-size: 2rem;
  background: none;
}
.nav-menu {
  background: #254d4c;
  width: 250px;
  height: 100vh;
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  left: -100%;
  transition: 850ms;
}
.nav-menu.active {
  left: 0;
  transition: 350ms;
}
.nav-text {
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 8px 0px 8px 16px;
  list-style: none;
  height: 60px;
}
.nav-text a {
  background: #254d4c;
  text-decoration: none;
  height: 100%;
  display: flex;
  color: #e7fff8;
  font-size: 18px;
  width: 95%;
  height: 100%;
  align-items: center;
  padding: 0 16px;
  border-radius: 4px;
  cursor: pointer;
}
.nav-menu-items {
  width: 100%;
}
.navbar-toggle {
  background-color: #254d4c;
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: start;
  align-items: center;
}
span {
  margin-left: 16px;
}

/* .navLink,
.navbar-brand,
.prod-navLink {
  color: #e7fff8;
  cursor: pointer;
} */

.title {
  color: #e7fff8;
  text-align: center;
  align-content: center;
}

.navbar-dark {
  background: #65837b;
}

#btn-primary {
  background: #00a988;
  color: #e7fff8;
  border-color: #e7fff8;
}
.edit-profile {
  color: #e7fff8;
}

#btn-warning {
  background: #8c749b;
  /* border-color: #CE8FFF; */
  color: #e7fff8;
}
.profileText {
  color: #e1e9e7;
}

.nav-link,
.navbar-brand,
.prod-nav-link {
  color: #e7fff8;
  cursor: pointer;
}

.nav-link {
  margin-right: 1em !important;
}
.nav-text:hover,
.navbar-brand:hover,
.btn-primary:hover {
  color: #65837b;
}

.navbar-nav .active a {
  background-color: #65837b;
}

.prod-nav-link:hover,
.add-product:hover {
  color: #65837b;
}

#small-navbar {
  justify-content: space-evenly;
}

/* .navbar-collapse {
  justify-content: flex-end;
}

.navbar-signin {
  justify-content: flex-start;
} */

.logo {
  height: 100px;
  width: 100px;
}

.card-horizontal {
  flex: 1 1 auto;
  display: block;
  text-align: center;
}
.form-group {
  align-content: center;
  text-align: center;
  text-align-last: center;
}

.card-img {
  width: 300px;
  height: 430px;
}

#edit-container,
#profile-container,
#fav-container {
  background-color: #65837b;
}

.buttons {
  padding-right: 80px;
  align-items: center;
}

.bi {
  cursor: pointer;
}

#edit_prof,
#edit_pic {
  color: #e7fff8;
}

.btn-circle.btn-xl {
  width: 90px;
  height: 90px;
  padding: 10px 16px;
  border-radius: 50px;
  font-size: 12px;
  text-align: center;
  border-color: #e7fff8;
  background-color: #00a988;
  color: #e7fff8;
}

.btn-circle.btn-xl:hover,
.btn-primary:hover,
#edit_prof:hover,
#edit_pic:hover {
  background-color: #354b45;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  /* display: inline-block; */
}

.jumbotron {
  position: relative;
  overflow: hidden;
}

.jumbotron .container {
  position: relative;
  z-index: 2;

  background: rgba(0, 0, 0, 0.2);
  padding: 2rem;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 3px;
}

.jumbotron-background {
  object-fit: cover;
  font-family: 'object-fit: cover;';
  position: absolute;
  top: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  opacity: 0.5;
}

img.blur {
  -webkit-filter: blur(4px);
  filter: blur(4px);
  filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius='4');
}

.jumbotron-image {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.description {
  left: 50%;
  position: absolute;
  top: 45%;
  transform: translate(-50%, -55%);
  text-align: center;
}
.description h1 {
  color: #b9aa87;
}
.description h4 {
  color: #bda5ab;
  font-size: 1.3rem;
  line-height: 1.5;
}

@media (min-width: 576px) {
  .card-columns {
    column-count: 2;
  }
}

@media (min-width: 768px) {
  .card-columns {
    column-count: 3;
  }
}

@media (min-width: 992px) {
  .card-columns {
    column-count: 4;
  }
}

@media (min-width: 1200px) {
  .card-columns {
    column-count: 5;
  }
}

/* this helps with border-box sizing with google maps */
.selector-for-some-widget {
  box-sizing: content-box;
}

/* all chats  */
.direct-chat-img {
  width: 3rem;
  height: 3rem;
}
strong {
  color: #007bff;
}
.allChat {
  background: #fff;
}

.chatContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* 
singleChat styling */

#messageFeed {
  height: calc(
    100vh - 172px
  ); /* vpace for fixed navbar (48px), "main" (71px), footer (53px) */
  overflow-y: scroll; /* vertical scroll for the message feed */
}

#chat-message {
  border-color: #00a988;
  padding: 6;
  margin: 3;
  width: 350px;
}

.direct-chat-text {
  word-break: break-word;
  overflow-wrap: break-word;
}

.wrapper {
  overflow: auto;
}

.text-small {
  font-size: 0.9rem;
}
.rounded-lg {
  border-radius: 0.5rem;
}
.messages-box,
.chat-box {
  height: 510px;
  overflow-y: scroll;
}
.chatText {
  display: flex;
  align-self: center;
}

/* nav-bar */
.nav-text-colors {
  background-color: #e7fff8;
}
.nav-text {
  color: #e7fff8;
  z-index: 1;
}

.loading-img-fluid {
  display: block;
  max-width: 90%;
  height: auto;
}

.select-availability {
  cursor: pointer;
}
